html{
    padding:0px;
    margin:0px;
}
body{
    background: url('../images/html_bg.png') repeat;
}


/*导航栏通用设置*/
header{
    /*background-color:dimgray;*/
    width: 1000px;
    height: 150px;
    margin: auto;
    position:relative;
    top:5px;
}

header>span{
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    color: firebrick;
    position: absolute;
    top: 10px;
    left: 10px;
}

.form-search{
    border: transparent;
    position: absolute;
    left: 400px;
    top: 60px;
    width: 230px;
    height: 30px;
}

.searchInput{
    height: 30px;
    width: 170px;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.searchButton{
    margin-left: -5px;
    height: 30px;
    width: 50px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

#header-login-register{
    float: right;
}
#header-login-register a{
    text-decoration: none;
    color: blue;
    font-family: "楷体";
}

#login-register{
    width: 600px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    background: white;
}
#label-title{
    font-size: 20px;
    font-family: "楷体";
    color: red;
    padding-top: 20px;
    margin-bottom: 20px;
}

#login-register label{
    display: block;
    margin-bottom: 20px;
}

#login-register button{
    margin: 0px 15px;
}

/*navgation.html 样式设置*/
.nav-major a{
    text-decoration: none;
    color: black;
}

#majorInstruct{
    display: none;
}

